$accentColor = #3eaf7c // 主题色
$textColor = #2c3e50 // 文字颜色
$borderColor = #eaecef // 边框颜色
$codeBgColor = #282c34 // 代码背景颜色

.logo
    border-radius 100%

.home .hero .description
    font-size 1.2em
    // visibility hidden
    // opacity 0
    // height 0
.home .hero img
    display inline-block
    border-radius 100%
    max-height: 240px
a
    word-break: break-all;